<div class="box11">
<div class="field-text", style="font-weight:bold;">
  バンドの情報を変更
</div>
<%= form_for @artist do |f| %>
 <div class="field">
    <br>
    <%= f.text_field :name ,size: 20,:placeholder => "名前" %>
    <br>
    <br>
    <%= f.label :画像 %>
    <br>
    <%= f.file_field :image ,class: "field-tag" %>
    <br>
    <br>
    <%= f.label :バンドの情報 %>
    <br>
    <%= f.text_field :memo ,size: 20,:placeholder => "よくライブをするライブする場所など" %>
  </div>
 <div class="action">
   <%= f.submit %>
 </div>
<% end %>
<%= link_to "Back", :back %>
<br>
<br>
  <%= button_to "アカウントを削除する", artist_registration_path(current_artist), data: { confirm: "本当に削除しますか?" }, method: :delete %>
</div>

</div>
