<html>
  <head>
    <meta charset="UTF-8">
    <title></title>
    <script defer src="https://use.fontawesome.com/releases/v5.0.4/js/all.js"></script>
　 　<script>FontAwesomeConfig = { searchPseudoElements: true };</script>
  </head>
  <body>
    <div class="l-wrapper">
      <main class="l-main">
        <div id="content" class="p-top">

          <div class="c-section p-top__article">
            <br>
            <!-- <h4 style="text-align: center;">バンド名から探す</h4> -->
            <%= form_tag({controller:"artists",action:"index"},{ :method => :get}) do %>
              <%= text_field_tag :search, nil,:placeholder => "バンド名から検索" %>
              <%= submit_tag ('検索'),:class => "search",:name => nil %>
            <% end %>
            <div class="c-section__inner">
              <div class="c-article__container artist__list">
                <% @artists.each do |a| %>
                <%= link_to  artist_path(a.id), class:"c-article__card",target: "_self" do %>
                <div class="c-article">
                  <article class="c-article__item">
                    <figure class="c-article__item-image">
                      <%= image_tag a.image.to_s ,:width => "100%" ,:id => "image-tag-artist",:onerror => "this.src='/assets/no_image.jpg'"  %>
                    </figure>
                    <div class="c-article__item-body">
                      <!-- <div class="c-article__item-body-date-box">
                        <p class="c-article__item-body-date"></p>
                        <p class="c-article__item-body-week">
                        <p class="c-article__item-body-open"></p>
                      </div> -->
                      <div class="c-article__item-body-title-box">
                        <h1 class="c-article__item-body-title", style="font-size:medium;"><%= a.name %></h1>
                        <p class="c-article__item-body-lineup"></p>
                        <p class="c-article__item-body-lineup", style="font-size:small;"><%= a.memo%></p>
                      </div>
                    </div>
                  </article>
                </div>
                <% end %>
                <% end %>
              </div>
              <% if params[:search] == nil %>
                <%= paginate @artists %>
              <% else %>
              <% end %>
            </div>
          </div>
        </div>
      </main>
    </div>
    <!-- #/l-wrapper -->

  </body>
</html>
