<!-- <h1>Users#show</h1>
<p>Find me in app/views/users/show.html.erb</p> -->
<head>
  <script defer src="https://use.fontawesome.com/releases/v5.0.4/js/all.js"></script>
　　 <script>FontAwesomeConfig = { searchPseudoElements: true };</script>
</head>
<body>
  <header>
    <%= image_tag @user.image.to_s, :id => 'profile' %>
    <div id='user_name', style="font-size:medium;"><%= current_user.name %></div>
    <div id="change_name", style="font-size:medium;"><%= link_to edit_user_path(params[:id]) do %><i class="fas fa-cog fa-2x"></i><% end %></div>
    <div class="l-gnav-toggle">
    </div>
  </header>
  <main>
  <div id="root" class="container box-center">
            <div class="card border-light" style="background-color: #ffffff; border-color: #333;"">
            <%= month_calendar events: @events.each do |date,events| %>
              <%= date.day %>

              <% events.each do |e| %>
               <div>
                <%= link_to Artist.find(e.artist_id).name,event_path(e), :style=>"color:#4B4949;font-size:medium;" %>
               </div>
             <% end %>
           <% end %>
           </div>


</body>
</main>
