<div class="box11">
  <div class="field-text" ,="," style="font-weight:bold;">
    バンドとしてログインする
  </div>
  <div class="field-text", style="font-size:small">
    バンドとしてログインするとライブを投稿して、カレンダーにまとめることができます。
  </div>
  <br>
  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="field-text">
    <br/>
    <%= f.email_field :email, autofocus: true, autocomplete: "email",:placeholder => "メールアドレス" %>
  </div>

  <div class="field-text">
    <br/>
    <%= f.password_field :password, autocomplete: "current-password",:placeholder => "パスワード" %>
  </div>

  <% if devise_mapping.rememberable? -%>
    <div class="field-text">
      <%= f.check_box :remember_me %>
      <%= f.label :パスワードを覚える %>
    </div>
  <% end -%>

  <div class="actions">
    <%= f.submit "ログイン" %>
  </div>
<% end %>
<br>
<div class="field-twitter", style="color:white">
<%= link_to 'twitterでログイン', '/auth/another/twitter', :id => "twitter" %>
</div>

<%= render "artists/shared/links" %>
</div>
