<div class="box11">
<div class="field-text", style="font-weight:bold;">パスワードをお忘れですか？</div>

<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
  <%= devise_error_messages! %>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <div class="actions">
    <%= f.submit "確認メールを送信する" %>
  </div>
<% end %>

<%= render "artists/shared/links" %>
</div>
