<!DOCTYPE html>
<html>
  <head>
    <title>Lively~インディーズバンドライブ予定管理サービス~</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>


    <script defer src="https://use.fontawesome.com/releases/v5.0.4/js/all.js"></script>
　　 <script>FontAwesomeConfig = { searchPseudoElements: true };</script>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <!-- drawer.css -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/drawer/3.2.2/css/drawer.min.css">
    <!-- iScroll -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/iScroll/5.2.0/iscroll.min.js"></script>
    <!-- drawer.js -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/drawer/3.2.2/js/drawer.min.js"></script>
    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0">



    <meta name="twitter:site" content="@Kentaro91011" />  //自分のTwitterアカウント「@〇〇〇」
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:url" content="https://lively-project.herokuapp.com/" />　//記事のURL
    <meta name="twitter:title" content="Lively~ライブ情報~" />　//記事のタイトル
    <meta name="twitter:description" content="最新のライブ情報です。" /> //記事内容
    <meta name="twitter:image" content="/assets/logo.jpg" /> //画像
  </head>

  <body>

      <body class="drawer drawer--top">
        <%= render 'layouts/header' %>


    <%= yield %>
    <footer class="l-footer">
        <div class="l-footer__body">
            <!-- <div class="l-footer__body-box"> -->
                <!-- <div class="l-footer__logo">Lively</div>
                <p class="l-footer__address">東京都渋谷区恵比寿西1-34-17 ザ・ハウスビル</p>
                <p class="l-footer__address-en">Za House BLD, B1F 1-34-17, Ebisu-Nishi,<br>
                    Shibuya-Ku, Tokyo 150-0021 Japan</p>
            </div>
            <p class="l-footer__tel">TEL: 03-5459-8630<br>
                FAX: 03-3464-1013</p> -->
        <!-- </div> -->
        <address class="l-footer__copyright" style="text-align:center;">©︎ Lively</address>
    </footer>

  </body>
</html>
